<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Chat</title>

  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

</head>
<body ng-controller="mtController">

<input type="text" ng-model="example">Ausgabe {{example | mtagRegex:'[0-9]':'X'}}

<div ng-init="mtarray = [1,2,3, 'A']"></div>{{mtarray}}

<span ng-repeat="item in mtarray | mtagArrayFilter:accept">
  {{item}}
</span>

<div>
  <span ng-show="example == 1">Hi</span>
  <span ng-if="example == 2" >Ho</span>
</div>

{{newArray}}

<select ng-model="selection" ng-options="item.lastname as item.firstname for item in users"></select>

<span ng-bind="selection"></span>

<div ng-switch on="selection">
  <div ng-switch-when="Merten"><button value="Merten"></button></div>
  <div ng-switch-when="Rudolf"><input type="checkbox" value="hi"></div>
</div>

<mtag-color-picker r="212" g="12" b="13"></mtag-color-picker>

<mtag-color-picker r="11" g="122" b="132"></mtag-color-picker>

<input type="text" mtag-mouse-down="alert('Hi')">

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-loader/angular-loader.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="components/mt-coontroller.js"></script>
<script src="components/filter/uper-case-filter.js"></script>
<script src="components/filter/regex-filter.js"></script>
<script src="components/filter/mtag-array-filter.js"></script>
<script src="components/directiven/color-picker.js"></script>
<script src="components/directiven/mouse-down-directive.js"></script>

<script src="app.js"></script>
</body>
</html>
